**/__pycache__/
/.venv/
/venv/
/.vscode/
/BlenderProc/
**/*output*/
cad_models/
test*.py
*.blend
examples/
assets
*.json
*.yaml
!config_template.json
!config_template.yaml
test*.json
temp/
**/render_pipeline/synthrender/resources
build/
*.egg-info/
**/render_pipeline/synthrender/modules